<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntAlert Dashboard</title>
    <link rel="stylesheet" href="CSS/universal.css">
    <link rel="stylesheet" href="CSS/dashboard-complain-bay.css">
</head>
<body>
    <div class="container">
        <div class="options-container">
            <div class="logo-container">
                IntAlert
            </div>
            <span id="user-name">Bravin Atonya</span>
            <br/>
            <ul class="dashboard-options">
                <li class="dashboard-option active-link">Raise Complain</li>
                <li class="dashboard-option">complains Tracker</li>
                <li class="dashboard-option">Build Community</li>
                <li class="dashboard-option">Get Tour</li>
                <li class="dashboard-option">Change Password</li>
            </ul>
            <div class="log-out-container">
                <div class="log-out-indicator"></div>
                <div class="logout-link">Log Out</div>
            </div>
        </div>
        <div class="Complains-bay">
            <h1>Complains Bay</h1>
            <div class="input-container-holder">
                <div class="input-container">
                    <form action="/complains-bay" method="post">
                        <label for="video_link">Video Link</label>
                        <br/>
                        <input type="text" name="link" id="video_link" placeholder="https://example.com">
                        <br/>
                        <button type="button" id="confirm_button">Confirm Link</button>
                        <label for="violation_type">Violation Type</label>
                        <br/>
                        <select name="violationType" id="violation_type">
                            <option value="Choose type">Choose Violation Type</option>
                            <option value="Misinformation">Misinformation</option>
                            <option value="Hate Speech">Hate Speech</option>
                            <option value="Explicit Content">Explicit Content</option>
                        </select>
                        <br/>
                        <label for="violation_description">Description</label>
                        <br/>
                        <textarea name="description" id="Violation_description"></textarea>
                        <div class="confirm-button_container">
                            <button type="submit" class="submit-button">Push Complain</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/complains_bay.js"></script>
</body>
</html>