<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntAlert Dashboard</title>
    <link rel="stylesheet" href="CSS/universal.css">
    <link rel="stylesheet" href="CSS/dashboard-tutorials.css">
</head>
<body>
    <div class="container">
        <div class="options-container">
            <div class="logo-container">
                IntAlert
            </div>
            <span id="user-name">Bravin Atonya</span>
            <br/>
            <ul class="dashboard-options">
                <a href="/complains-bay"><li class="dashboard-option">Raise Complain</li></a>
                <a href="/complains-tracker"><li class="dashboard-option">complains Tracker</li></a>
                <a href="/invitation"><li class="dashboard-option">Build Community</li></a>
                <a href="/tutorial"><li class="dashboard-option  active-link">Get Tour</li></a>
                <a href="/change-password"><li class="dashboard-option">Change Password</li></a>
            </ul>
            <div class="log-out-container">
                <div class="log-out-indicator"></div>
                <a href="/logout"><div class="logout-link"><a href="/logout">Log Out</a></div></a>
            </div>
        </div>
        <div class="tutorials-bay">
            <h1>Tutorial Bay</h1>
            <div class="tutorials-container-holder">
                <div class="tutorials-container">
                    <div class="tutorial-area">
                        <h3>
                            How to raise a complain
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur corporis 
                            dignissimos exercitationem et cupiditate quasi cumque! Incidunt adipisci 
                            perspiciatis nam, odit praesentium explicabo placeat saepe ipsum animi eligendi 
                            iure accusantium.
                        </p>
                    </div>
                    <div class="tutorial-area">
                        <h3>
                            Check Complain Status
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur corporis 
                            dignissimos exercitationem et cupiditate quasi cumque! Incidunt adipisci 
                            perspiciatis nam, odit praesentium explicabo placeat saepe ipsum animi eligendi 
                            iure accusantium.
                        </p>
                    </div>
                    <div class="tutorial-area">
                        <h3>
                            Help Invite more
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur corporis 
                            dignissimos exercitationem et cupiditate quasi cumque! Incidunt adipisci 
                            perspiciatis nam, odit praesentium explicabo placeat saepe ipsum animi eligendi 
                            iure accusantium.
                        </p>
                    </div>
                    <div class="tutorial-area">
                        <h3>
                            Change Your Password
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur corporis 
                            dignissimos exercitationem et cupiditate quasi cumque! Incidunt adipisci 
                            perspiciatis nam, odit praesentium explicabo placeat saepe ipsum animi eligendi 
                            iure accusantium.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>