<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntAlert</title>
    <link rel="stylesheet" href="CSS/home_page.css">
    <link rel="stylesheet" href="CSS/universal.css">
</head>
<body>
    <div class="container">
        <div class="nav-container">
            <span id="logo">IntAlert</span>
            <div class="nav-items-container">
                <ul id="nav-items">
                    <li class="nav-item active-link">About Us</li>
                    <li class="nav-item">FAQ</li>
                    <li class="nav-item">Contact Us</li>
                    <li class="nav-item"><a href="/sign-in">Sign In</a></li>
                    <li class="nav-item"><a href="/sign-up">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <div class="content-container">
            <div class="intro-content">
                <h1>
                    Discover<br/>
                    IntAlert
                </h1>
                <span>
                    Welcome to Internet Alert! In today's digital age, social media has become an integral 
                    part of our lives, connecting us with friends, family, and communities around the world.
                     However, as with any powerful tool, there can be instances where it's essential to raise 
                     concerns or report problematic content. This is where Internet Alert steps in.Our mission
                      is to empower users like you to voice your concerns effectively. IntAlert is a 
                      revolutionary application designed to streamline the process of reporting issues on 
                      various social media platforms. By providing a user-friendly interface, we aim to bridge 
                      the gap between users and platform moderators, ensuring that your concerns are heard and 
                      addressed promptly.
                </span>
                <div class="button-container">
                    <button id="discover-button" onclick="window.location.href='/sign-in'">Discover</button>
                </div>
            </div>
            <div class="image-container">
                <img src="images/landing page image.png" alt="landing page image" width="400px">
            </div>
        </div>
    </div>
</body>
</html>