<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntAlert</title>
    <link rel="stylesheet" href="CSS/universal.css">
    <link rel="stylesheet" href="CSS/sign-up.css">
    <link rel="stylesheet" href="CSS/sign-in.css">
</head>
<body>
    <div class="container">
        <div class="welcome-text_section_container">
            <div class="welcome-text_section">
                <h1 id="join_us_heading">Welcome Back</h1>
                <p>
                    In today's digital age, social media has become an integral part of our lives, connecting us with friends, family, and communities around the world. However, as with any powerful tool, there can be instances where it's essential to raise concerns or report problematic content. This is where Internet Alert steps in.

Our mission is to empower users like you to voice your concerns effectively. IntAlert is a revolutionary application designed to streamline the process of reporting issues on various social media platforms. By providing a user-friendly interface, we aim to bridge the gap between users and platform moderators, ensuring that your concerns are heard and addressed promptly.
                </p>
            </div>
        </div>
        <div class="user-information-section_container">
            <div class="user-information-section">
                <div class="logo-section">
                    IntAlert
                </div>
                <form id="sign_in_form" method="post">
                    <label for="user-email">Email</label>
                    <br>
                    <input type="text" name="email" id="user_email" placeholder="Johndoe@gmail.com">
                    <br>
                    <label for="user_password">Password</label>
                    <br>
                    <input type="password" name="password" id="user_password">
                    <br>
                    <a id="forget_password_link">Forgot Password?</a>
                    <div class="submission_button_container">
                        <button id="sign-in-button" type="button">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="scripts/send_passcode_manip.js"></script>
</body>
</html>