#logo{
    color: white;
    width: 10%;
    margin-right: 30%;
    margin-left: 1em;
    font-family: 'poppins-bold';
    font-size: 28px;
    font-weight: bold;
}
.nav-container{
    width: 100%;
    display: flex;
    margin-top: 1em;
}
.nav-items-container{
    color: white;
    width: 60%;
}
#nav-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    font-family: 'poppins-medium';
    font-size: 15px;
    text-align: center;
}
.active-link{
    font-family: 'poppins-bold';
}
.content-container{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.8em;
    display: flex;
}
.intro-content{
    width: 50%;
}
.image-container{
    width: 50%;
    position: relative;
}
.image-container img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.intro-content h1{
    font-family: 'poppins-bold';
    font-size: 50px;
    line-height: 60px;
    margin-bottom: .25em;
}
.intro-content span{
    font-family: 'poppins-light';
    font-size: 15px;
}
.button-container{
    margin-top: 1.5em;
    position: relative;
}
#discover-button{
    background-color: #FF5E51;
    color: white;
    border: none;
    width: 12em;
    height: 2.5em;
    border-radius: .5em;
    font-family: 'poppins-bold';
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}

