*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'poppins-bold';
    src: url('./../fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'poppins-medium';
    src: url('./../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'poppins-light';
    src: url('./../fonts/Poppins-Light.ttf');
}
body{
    width: 100%;
    height: 100vh;
    background-color: #4C979D;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}